.card-header {
    font-weight: bold;
    background-color:  #3c3c3c !important;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
}

.table {
    background-color: #ffffff;
    text-align: center;
}

#clientesTable tr.stripe1 td, #clientesTable tr.stripe1 th {
    background-color: #f2f2f2;
}
#clientesTable tr.stripe2 td, #clientesTable tr.stripe2 th {
    background-color: #fff;
}
