.card-header {
    font-weight: bold;
    background-color: #3c3c3c !important;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
}

.table {
    background-color: #ffffff;
    text-align: center;
}

/*.table th {
    background-color: #3c3c3c;
    color: #ffffff;
}*/

.table td {
    vertical-align: middle;
}

.table .btn {
    padding: 5px 10px;
}

#pecasTable tr.stripe1 td, #pecasTable tr.stripe1 th {
    background-color: #f2f2f2;
}
#pecasTable tr.stripe2 td, #pecasTable tr.stripe2 th {
    background-color: #fff;
}

i {
    color: #fac927;
}

.icone {
    color: white !important;
}

.modal-header {
    background-color: #3c3c3c;
}