body {
  background-color: #f3f6fe !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-dark-primary {
  background-color: #3c3c3c !important;
}

.sidebar-dark-primary .nav-sidebar .nav-link {
  color: #c2c7d0;
  background-color: #3c3c3c;
  transition: background-color 0.3s;
}

.sidebar-dark-primary .nav-sidebar .nav-link i.right {
  color: #fac927 !important;
}

.sidebar-dark-primary .nav-sidebar .nav-treeview > .nav-item > .nav-link.active i,
.sidebar-dark-primary .nav-sidebar .nav-treeview > .nav-item > .nav-link:hover i {
  color: #fac927 !important;
}

.form-inline {
  border-bottom: 1px solid #444;
}
.form-control-sidebar {
  background-color: #1f1f33;
  color: #fff;
  border: none;
}
.form-control-sidebar::placeholder {
  color: #ccc;
}

#sidebarSearch {
  background-color: #3c3c3c !important;
  color: white;
}

#sidebarSearchIcon {
  background-color: #3c3c3c !important;
  padding: 4px 6px;
  font-size: 0.9rem;
  width: 40px;
  height: 38px;
  line-height: 1;
}

.brand-link {
  text-decoration: none;
}

.nav-icon, #sidebarSearchIcon, .fa-bars {
  color: #fac927;
}