body {
    background-color: #f3f6fe;
}

.sidebar-transition {
    transition: margin-left 0.8s ease-in-out;
}

#sidebar {
    background-color: #403F68;
}

#sidebarToggle {
    transition: all 0.5s ease;
}

.nav-link.active {
    background-color: #4b5fab !important;
    color: #ffffff !important;
}

.nav-link .bi {
    margin-right: 18px;
}

.card-header {
    font-weight: bold;
    background-color: #596d9b !important;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
}

.table {
    background-color: #ffffff;
    text-align: center;
}

.table th {
    background-color: #596d9b;
    color: #ffffff;
}

.table td {
    vertical-align: middle;
}
