body {
    background-color: #f3f6fe !important;
}

.sidebar-transition {
    transition: margin-left 0.8s ease-in-out;
}

#sidebar {
    background-color: #403F68;
}

.nav-link {
    font-size: 1rem;
}

.nav-link .bi {
    margin-right: 20px;
}

.nav-link.active {
    background-color: #4b5fab !important;
    color: #ffffff !important;
}

.card-sharp {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-sharp h5 {
    font-weight: bold;
    color: #343A40;
}
